.orderContainer {
    width: 100%;
    background: var(--hover-background-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 32rem;
    padding: 32rem;
}

.success {
    font-size: 40rem;
    font-weight: 500;
    line-height: 130%;
    color: green;
}