.selectBox {
    border: 1px solid var(--light-color);
    border-radius: 6px;
    padding: 8px 8px 8px 16px;
    width: 200px;
    height: 36px;
    outline: none;

    font-family: "Montserrat", sans-serif;
    font-size: 16rem;
    font-weight: 500;
    line-height: 126%;
    color: var(--main-text-color);
}

.selectBox option:checked {
    color: var(--main-text-color);
}

.selectFilds {
    font-size: 16rem;
    font-weight: 500;
    line-height: 126%;
    color: var(--light-text-color);

    border-radius: 6px;
    padding: 16px;
    background-color: var(--white-background-color);
    height: 124px;
}

.selectFilds:hover {
    color: var(--second-text-color);
}