.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32rem;
}

.link {
    text-decoration: none;
    font-size: 20rem;
    font-weight: 500;
    line-height: 130%;
    color: var(--main-color);
}

.link:hover {
    color: var(--second-color);
}

@media screen and (max-width: 620px) {

    .menu {
        gap: 15rem;
    }

    .link {
        font-size: 18rem;
    }
}

@media screen and (max-width: 520px) {

    .link {
        font-size: 15rem;
    }
}

@media screen and (max-width: 420px) {

    .link {
        font-size: 14rem;
    }
}