html {
    font-size: 1px;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* .screen-wrapper {
    max-width: 1360rem;
    margin: 0 auto;
    padding: 0;
} */

/* @media screen and (max-width: 1360px) {

    .screen-wrapper {
        margin: 0 40rem;
    }
} */

@media screen and (max-width: 960px) {

    html {
        font-size: 0.9px;
    }
}

@media screen and (max-width: 768px) {

    html {
        font-size: 0.8px;
    }

    /* .skreen-wrapper {
        margin: 0rem 30px;
    } */
}

@media screen and (max-width: 420px) {

    html {
        font-size: 0.7px;
    }

    /* .skreen-wrapper {
        margin: 0 20px;
    } */
}