.breadcrumbList {
    display: flex;
    align-items: center;
    list-style: none;
}

.breadcrumbItem {
    display: flex;
    align-items: center;
}

.link,
.current {
    text-decoration: none;
    display: inline-block;

    border: 1px solid var(--light-color);
    border-radius: 6px;
    padding: 8px 16px;
    height: 36px;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 126%;
    text-align: center;
    color: var(--opacity-color);
    white-space: nowrap;
}

.current {
    color: var(--main-color);
}

.link:hover {
    background-color: var(--hover-color);
}

.separator {
    width: 16px;
    height: 0px;
    border: 1px solid var(--light-color);
}