.btn {
    border-radius: 6px;
    padding: 16rem 56rem;
    background-color: var(--second-color);
    border: none;
    cursor: pointer;
    font-size: 20rem;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
    color: var(--white-color);
}

.btn:hover {
    background-color: var(--main-color);
}

.btn:active {
    border: 1px solid var(--main-color);
    background-color: var(--white-color);
    color: var(--main-color);
}

@media screen and (max-width: 768px) {

    .btn {
        padding: 14rem 48rem;
        font-size: 18rem;
    }
}

@media screen and (max-width: 540px) {

    .btn {
        padding: 12rem 42rem;
        font-size: 16rem;
    }
}