.cartContainer {
    display: flex;
    justify-content: center;
    gap: 32rem;
}

.cartBox {
    padding-bottom: 10rem;
    flex: 1;
}

.orederBox {
    width: 548rem;
}

.shoppingCart {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16rem;
}